<!DOCTYPE html>
<html ng-app="aitu-project">
<head>
    <meta charset="utf-8" />
    <title>Product List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<style>
    .dropbtn {
        background-color: #4CAF50;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .ffffffff {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .ffffffff a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .ffffffff a:hover {background-color: #ddd;}

    .dropdown:hover .ffffffff {display: block;}

    .dropdown:hover .dropbtn {background-color: #3e8e41;}

    #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: red;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;
    }

    #myBtn:hover {
        background-color: #555;
    }
</style>
<body ng-controller="ProductCtrl">
<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
<script>
    var mybutton = document.getElementById("myBtn");
    window.onscroll = function() {scrollFunction()};
    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>
<form ng-submit="signIn(account)" method="POST">
    <div class="container">
        <b>Login</b>
        <input type="text" placeholder="Your login" name="login" required ng-model="account.login">
        <b>Password</b>
        <input type="password" placeholder="Your password" name="password" required ng-model="account.password">
        <button type="submit">Sign In</button>
    </div>
</form>
<br>
<form ng-submit="registerCustomer(acc)" method="POST">
    <p>Registration Form</p>
    <div class="container">
        <b>Login</b>
        <input type="text" placeholder="Your login" name="log" required ng-model="acc.login"><br>
        <b>Name</b>
        <input type="text" placeholder="Your organization name" name="name" required ng-model="acc.name"><br>
        <b>Cuntact Number</b>
        <input type="text" placeholder="Your contact number" name="phone" required ng-model="acc.phone"><br>
        <b>Address</b>
        <input type="text" placeholder="Your address" name="address" required ng-model="acc.address"><br>
        <b>Password</b>
        <input type="password" placeholder="Your password" name="pass" required ng-model="acc.password"><br>
    </div>
    <button type="submit" class="btn btn-warning center">Register</button>
</form>

<div class="row" style="text-align: center">
    <div class="col-lg-12">
        <label class="col-sm-2 col-form-label" style="text-align: center">{{shopMessage}} {{shop.name}}</label>

    </div>

</div>

<div class="container">


    <h3>Product List</h3>
    <div class="dropdown">
        <button class="dropbtn">Dropdown</button>
        <div class="ffffffff" >
            <a ng-repeat="i in categoryName" ng-click="getProductsByCategory(i.id)"  ng-model="category.id">{{i.name}}</a>
        </div>
        </div>
    <div class="row">
        <table class="table table-bordered table-striped table-condensed">
            <thead>
            <th></th>
            <th>ID</th>
            <th>Category type</th>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            </thead>
            <tr ng-repeat="product in productList | orderBy: 'id'">
                <td ng-click="addProduct(product)"><button class="btn btn-danger btn-md" style="background-color: #4CAF50">Add</button></td>

                <td ng-bind="product.id"></td>
                <td ng-bind="product.category_id"></td>
                <td ng-bind="product.name"></td>
                <td ng-bind="product.price"></td>
                <td ng-bind="product.description"></td>
            </tr>
        </table>
        <br><br>
        <b>Your Cart</b>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
            <th></th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
            </thead>
            <tr ng-repeat="product in orderProductList" >
                <td ng-click="removeProduct(product)"><button class="btn btn-danger btn-md">REMOVE</button></td>
                <td ng-bind="product.name"></td>
                <td ng-bind="product.description"></td>
                <td ng-bind="product.price"></td>
                <td ng-bind="product.quantity"></td>
            </tr>
            <tr ng-bind="totalPrice"></tr>
        </table>
        <button ng-click="SendOrder()" type="button" class="btn btn-warning">Send Order</button>
        <button ng-click="SeeOrder()" type="button" class="btn btn-warning">See Order</button>

        <label>{{messageorder}}</label>
        <label>{{messageorderitem}}</label>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
            <th>ID</th>
            <th>Shop ID</th>
            <th>Total Price</th>
            <th>Date</th>

            </thead>
            <tr ng-repeat="order_item in orderitemList | orderBy: 'id'">
                <td ng-bind="order_item.id"></td>
                <td ng-bind="order_item.shop_id"></td>
                <td ng-bind="order_item.total_price"></td>
                <td>{{order_item.date | date:'dd.MM.yyyy'}}</td>

            </tr>
        </table>
    </div>


</div>
</body>
</html>
